<div class="chat-user-avatar {{if isOnline "is-online"}}">
  <div
    role="button"
    class="chat-user-avatar-container clickable"
    data-user-card={{user.username}}
  >
    {{#if this.showStatus}}
      {{emoji user.status.emoji}}
    {{/if}}

    {{avatar user imageSize=avatarSize}}
  </div>
</div>
